body {
    font-family: 'Switzer', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e3440;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #eceff4;
    overflow: hidden;
}

.container {
    background-color: #3b4252;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(136, 192, 208, 0.2);
    padding: 20px 20px 10px 20px;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    height: 80vh;
}

.credits {
    display: none;
}

.taskbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.task-btn {
    font-family: 'Switzer', sans-serif;
    background-color: transparent;
    border: none;
    color: #eceff4;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    font-weight: 500;
}

.task-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #88c0d0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: -1;
}

.task-btn:hover::before {
    transform: translateX(0);
}

.task-btn.active {
    background-color: #88c0d0;
    color: #2e3440;
    border-radius: 5px;
}

.tab-content {
    background-color: #2e3440;
    border-radius: 10px;
    padding: 20px;
    height: 66vh;
    overflow-y: hidden;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #eceff4;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #4c566a;
    transition: border-color 0.3s ease;
    background-color: #3b4252;
    color: #eceff4;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
    outline: none;
    border-color: #88c0d0;
}

.submit-btn {
    font-family: 'Switzer', sans-serif;
    padding: 10px 20px;
    background-color: #88c0d0;
    color: #2e3440;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
}

.submit-btn span {
    position: relative;
    z-index: 1;
}

.submit-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5e81ac;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: -1;
}

.submit-btn:hover::before {
    transform: translateX(0);
}

#search-input {
    font-family: 'Switzer', sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #4c566a;
    transition: border-color 0.3s ease;
    background-color: #3b4252;
    color: #eceff4;
    font-size: 16px;
}

#search-input:focus {
    outline: none;
    border-color: #88c0d0;
}

#appointments-list {
    margin-top: 20px;
    max-height: 55vh;
    overflow-y: auto;
}

.appointment {
    background-color: #4c566a;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #eceff4;
    position: relative;
    height: 88px;
}

.appointment:hover {
    background-color: #5e81ac;
}

#schedule-appointment h2{
    margin-top: 0;
}

.appointment-info {
    display: flex;
    line-height: 0px;
    flex-direction: column;
}

.appointment-info p {
    margin-left: 5px;
    text-overflow: ellipsis; /* Add this line */
    white-space: nowrap;
    max-width: 100px; /* Adjust the max-width based on your layout */
    text-overflow: ellipsis;
}


.appointment-time {
    font-weight: 500;
}

.appointment-buttons {
    display: flex;
    align-items: flex-end;
}

.edit-btn,
.delete-btn {
    margin-top: 60px;
    font-family: 'Switzer', sans-serif;
    background-color: #88c0d0;
    color: #2e3440;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.edit-btn::before,
.delete-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5e81ac;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: -1;
}

.edit-btn:hover::before,
.delete-btn:hover::before {
    transform: translateX(0);
}

.delete-btn {
    margin-left: 5px;
}

.edit-btn {
    margin-left: auto;
}

#sort-by-time {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#sort-by-time button {
    font-family: 'Switzer', sans-serif;
    padding: 5px 10px;
    max-width: 49%;
    background-color: #88c0d0;
    color: #2e3440;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
}

#sort-by-time button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5e81ac;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: -1;
}

#sort-by-time button:hover::before {
    transform: translateX(0);
}

.gradientdown {
    position: fixed; /* Change to fixed */
    bottom: 150px;
    left: 50%;
    z-index: 1;
    width: 75%;
    height: 1%;
    background: linear-gradient(to top, #2e3440, transparent);
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
    max-width: 800px;
    pointer-events: none;
    transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
    
    body {
        overflow-y: hidden;
    }
    
    .container {
        width: 100vw;
        border-radius: 0;
        box-shadow: none;
        height: 100vh;
        padding-top: 7vh;
    }
    
    .tab-content {
        height: 80%;
    }
}
